[user]
	name = Alessio Libardi
	email = 115072949+alessio-libardi-zupit@users.noreply.github.com

[init]
	defaultBranch = main

[core]
	editor = ide --wait

[diff]
	tool = ide --wait --diff $LOCAL $REMOTE

[push]
	autoSetupRemote = true

[alias]
	main = !git checkout main && git pull
