[user]
	name = Alessio Libardi
	email = 115072949+alessio-libardi-zupit@users.noreply.github.com

[init]
	defaultBranch = main

[core]
	editor = code --wait

[diff]
	tool = code --wait --diff $LOCAL $REMOTE

[push]
	autoSetupRemote = true

[alias]
	main = !git checkout main && git pull
  open = "!f() { \
    if [ $# -ne 2 ]; then \
      echo 'Usage: git open <branch-name> <commit-message>'; \
      return 1; \
    fi; \
    branch=\"$1\"; \
    msg=\"$2\"; \
    git checkout main && \
    git pull origin main && \
    git checkout -b \"$branch\" && \
    git commit --allow-empty -m \"$msg\" && \
    git push -u origin \"$branch\" && \
    gh pr create --web -t \"$msg\" -b ''; \
  }"

