[user]
	name = Alessio Libardi
	email = 115072949+alessio-libardi-zupit@users.noreply.github.com

[init]
	defaultBranch = main

[core]
	editor = code --wait

[diff]
	tool = code --wait --diff $LOCAL $REMOTE

[push]
	autoSetupRemote = true

[alias]
	main = !git-main
  draft = !git-draft

